@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-lora{
    font-family: "Lora", serif;
}

.transition{
    transition: all ease .4s
}

.shape{
    background-image: url("assets/img/bg-shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 170%;
}

.carousel-img{
    transition: opacity .4s ease;
}

.carousel-img[data-visible=false]{
    opacity: 0;
} 

.carousel-img[data-visible=true]{
    opacity: 1;
}

.carousel-dots .dot[data-active=false]{
    background: rgb(163, 163, 163);
}
.carousel-dots .dot[data-active=true]{
    background: #000;
}

/* ===================NAVBAR========================== */

.navbar[data-visible=false]{
    animation: retract .4s ease forwards;

}
.navbar[data-visible=true]{
    animation: collapse .4s ease forwards;
}


.navbar .dropdown[data-visible="false"] .dropdown-menu{
    display: none;
}
.navbar .dropdown[data-visible="true"] .arrow-img{
    rotate: 180deg;
}
.navbar .dropdown[data-visible="true"] .dropdown-menu{
    display: block;
}
.navbar .dropdown[data-visible="true"] .dropdown-menu > *{
    animation: fade-in 1s ease;
}
.navbar .dropdown[data-visible=fading-out] .dropdown-menu{
    animation: fade-out .4s ease 50ms;
}

@keyframes collapse {
    0%{
        bottom: 0;
    }    
    100%{
        bottom: -200%;
    }
}

@keyframes retract {
    0%{
        bottom: -200%;
    }    
    100%{
        bottom: 0;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes fade-out {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}